{% extends 'main.html' %}
{% load staticfiles %}

{% block login %}



<div class='large-3 large-offset-1 columns'>
  <form action='/cards/interface/' method='post'>
    {% csrf_token %}
 	a. Search series
  	<input type='text' name='q_series' size='4'>
  	<input class='button' type='submit' value='search'>
  	<hr>
  	b. Search number
  	<input type='text' name='q_number' size='30'>
  	<input class='button' type='submit' value='search'>
  	<hr>
  	c. Search status
  	<input type='text' name='q_status' size='30'>
  	<input class='button' type='submit' value='search'>
  	<hr>
  	d. Search date
  	<input type='text' name='q_date' size='30'>
  	<input class='button' type='submit' value='search'>
  	<hr>
  </form>
</div>
{% endblock %}

{% block cards %}
<div class='large-7 columns'>

    {% for card in cards_serie_filter %}
      <a href='/cards/{{ card.id }}'>
        {{ card.date_issue }}, {{ card.series.series }}, {{ card.number }}
      </a>
      {% if card.profile %} 
        <a href='/cards/{{ card.id }}'>
          <span style='color: green'>&nbsp&nbsp<i>Show profile</i></span>
        </a><br>
      {% else %}
        <a href='/cards/{{ card.id }}'>
          <span style='color: red'>&nbsp&nbsp<i>Tie profile</i></span>
        </a><br>
      {% endif %}
    {% endfor %}
    
    {% for card in cards_number_filter %}
      <a href='/cards/{{ card.id }}'>
      {{ card.date_issue }}, {{ card.series.series }}, {{ card.number }}<br>
      </a><br>
    {% endfor %}
    
</div>
{% endblock %}




